<div>
    <input #name type="text">
    <button for="name" (click)="add(name.value)">Add</button>
</div>
<!-- <input #name [(ngModel)]="myValue" type="text" />
<button (click)="add(name.value)">Click me</button> -->

<div>
    <table>
        <tr>
            <td>Check Box</td>
            <td>Name</td>
            <td>Action</td>
        </tr>
        <tr *ngFor="let data of studentData">
            <th><input type="checkbox"> </th>
            <th> {{data.name}} </th>
            <th> <button (click)="onDelete(data)">Delete</button></th>
        </tr>
    </table>
</div>