<div>
    <form action="" [formGroup]="studentdata" (ngSubmit)="add()">
        <input type="text" formControlName="name">
        <button for="name" type="submit">Add</button>
    </form>
</div>
<!-- <input #name [(ngModel)]="myValue" type="text" />
<button (click)="add(name.value)">Click me</button> -->

<div>
    <table>
        <tr>
            <td>Check Box</td>
            <td>Name</td>
            <td>Action</td>
        </tr>
        <tr *ngFor="let data of studentData">
            <th><input type="checkbox"> </th>
            <th> {{data.name}} </th>
            <th> <button (click)="onDelete(data)">Delete</button></th>
        </tr>
    </table>
</div>